templates/approval-gated-mcp.workflow.json
{
  "name": "MCP FlowForge Approval Gate Starter",
  "metadata": {
    "purpose": "Webhook starter for workflows that must stop for human approval before tool dispatch.",
    "safety": {
      "authority": "approval-required",
      "risk": "medium",
      "requiredApproval": true,
      "dryRunOnly": true,
      "blocksExternalDispatch": true
    }
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-flowforge-approval",
        "responseMode": "responseNode"
      },
      "id": "approval-webhook-input",
      "name": "Approval Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const requestedAction = $json.action || 'demo-action'; const risk = $json.risk || 'medium'; return [{ json: { ok: false, status: 'approval_required', requestedAction, risk, dryRunOnly: true, nextStep: 'Review this request before connecting a real MCP tool.' } }];"
      },
      "id": "approval-gate",
      "name": "Approval Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "approval-response",
      "name": "Approval Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Approval Webhook Input": {
      "main": [
        [
          {
            "node": "Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Gate": {
      "main": [
        [
          {
            "node": "Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}
