templates/n8n-mcp-webhook.workflow.json
{
  "name": "MCP FlowForge Safe Webhook Starter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-flowforge-demo",
        "responseMode": "responseNode"
      },
      "id": "webhook-input",
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, receivedAt: new Date().toISOString(), safeEcho: $json.intent || 'demo' } }];"
      },
      "id": "safe-transform",
      "name": "Safe Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Safe Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe Transform": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}
